<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".app.WildQuestApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="WildQuestApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject"
        tools:targetApi="31">
        <activity
            android:name=".screens.main.groupreview.lobby.custom.scoretally.GroupCustomScoreTallyActivity"
            android:exported="false" />
        <activity
            android:name=".screens.main.groupreview.lobby.custom.room.GroupCustomRoomActivity"
            android:exported="false" />
        <activity
            android:name=".screens.main.groupreview.lobby.custom.quiz.GroupCustomQuizActivity"
            android:exported="false" />
        <activity
            android:name=".screens.main.groupreview.lobby.custom.prep.GroupCustomPrepActivity"
            android:exported="false" />
        <activity
            android:name=".screens.main.groupreview.lobby.competitive.room.GroupCompeRoomActivity"
            android:exported="false" /> <!-- /main -->
        <activity
            android:name=".screens.sub.logopage.LogoPageActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.main.register.RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".screens.main.login.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".screens.main.dashboard.DashboardActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" /> <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- /main/groupreview -->
        <activity
            android:name=".screens.main.groupreview.lobby.competitive.loading.GroupCompeLoadingActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".screens.main.groupreview.GroupReviewActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".screens.main.groupreview.lobby.competitive.scoretally.GroupCompeScoreTallyActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".screens.main.groupreview.lobby.competitive.quiz.GroupCompeQuizActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" /> <!-- /main/soloreview -->
        <activity
            android:name=".screens.main.soloreview.lobby.competitive.quiz.SoloCompeQuizActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".screens.main.soloreview.lobby.competitive.loading.SoloCompeLoadingActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".screens.main.soloreview.SoloReviewActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".screens.main.soloreview.lobby.competitive.scoretally.SoloCompeScoreTallyActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".screens.main.soloreview.lobby.custom.loading.SoloCustomLoadingActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".screens.main.soloreview.lobby.custom.prep.SoloCustomPrepActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".screens.main.soloreview.lobby.custom.quiz.SoloCustomQuizActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".screens.main.soloreview.lobby.custom.scoretally.SoloCustomScoreTallyActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" /> <!-- /sub -->
        <activity
            android:name=".screens.sub.profile.ProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".screens.sub.faqs.FAQSActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".screens.sub.history.HistoryActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".screens.sub.leaderboards.LeaderboardActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".screens.sub.settings.SettingsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>